{% extends "layouts/base.html" %}

{% block page_title %}
Home
{% endblock %}

{% block content %}
<div class="uk-grid">
  <div class="uk-width-1-1 uk-row-first">
    <div class="uk-block uk-block-large uk-block-primary uk-contrast uk-vertical-align uk-text-center">
      <div class="uk-width-1-1 uk-vertical-align-middle">
        <h1>Welcome to flask-gulp-minimal-boilerplate</h1>
        <p class="uk-text-large">
          This is a starter/boilerplate Flask project.
        </p>
        <p>
           It includes uikit, Flask-SQLAlchemy, WTForms, Gulp, BrowserSync and various testing utilities out of the box.
        </p>
        <p>Gulp is used to handle the frontend workflow. Included tasks are javascript minification and concatination, SASS compilation and image minification.</p>
        <p>
          BrowserSync automatically reloads web pages when source code changes are saved.
        </p>
        <p>
          <a href="https://github.com/hypebeast/flask-gulp-minimal-boilerplate" class="uk-button uk-button-success">Learn more &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
