<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% block page_title %}flaskapp{% endblock %}
    </title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}Sebastian Ruml{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- <script src="js/vendor/modernizr-2.8.3.min.js"></script> -->
  </head>

  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

      {% block content %}{% endblock %}

    </div><!-- end container -->

    <!-- JavaScript at the bottom for fast page loading -->

    <!-- Custom Javascript -->

    <!-- Google Analytics -->
    {% include "includes/ga.html" %}
  </body>
</html>
